<div class="container">

   <div class="img">
    <img src="../../assets/img/WhatsApp Image 2023-02-03 at 13.19.44.jpeg" alt="">
   </div>
   <h4>
    السلام عليكم 
يارب تكونوا بخير و بتحلوا كويس في الامتحانات ❤️
حابين نكون أقرب ليكم أكتر ونشوف اى المشاكل الموجوده عندكم ونحاول نحلها أو حد عنده اقتراح لينا 
لو حد محرج يجى يتكلم معانا ممكن يسجل المشكله اللى عنده فى الفورم دى 
والفورم هتفضل مفتوحه طول الوقت واللى عنده اى حاجه يكتبها وان شاء الله هنحاول نحل المشكله دى 🤍
<a href="https://forms.gle/Qik8vVTZkvzc89MX6" target="_blank">Enter</a>
   </h4>
</div>
