#login{
    min-height: 100vh;
    background-image: url(../../assets/img/pexels-hasan-albari-1229861.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}
.form{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
input{
    width: 600px;
    border-radius: 6px;
}
.form{
    /* background-color:rgba(105, 91, 91, 0.9);
     */
     
    background-color:rgba(15, 14, 14, 0.3);
     text-align: center;
     flex-direction: column;
    border-radius: 10%;
    padding: 10px;
     display: flex;
     justify-content: center;
}