.container-fluid 
{
    height: 100vh;
    background-image: url(../../assets/img/pexels-prateek-katyal-2740956.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    text-align: center;
    flex-direction: column;
color: rgb(9, 48, 219);
    display: flex;
    justify-content: center;
}


.layer_h1 {
    font-weight: 800px;
    font-size: 50px;
    /* margin-left: 50px; */
}

 h3::after {
    content: " |";
    animation: move 4s infinite;
 
    font-weight: 800px;
    font-size: 50px;
}


@keyframes move {
    0% {
        content: "e|";
    }

    5% {
        content: "el|";
    }

    10% {
        content: "elc|";
    }

    13% {
        content: "elco|";
    }

    18% {
        content: "elcom|";
    }

    23% {
        content: "elcome|";
    }
    26% {
        content: "elcome to|";
    }
    30% {
        content: "elcome to the|";
    }
    30% {
        content: "elcome to the|";
    }
    35% {
        content: "elcome to the web|";
    }
    40% {
        content: "elcome to the websi|";
    }
    43% {
        content: "elcome to the website|";
    }
    50% {
        content: "elcome to the website of|";
    }
    55% {
        content: "elcome to the website of|";
    }
    60% {
        content: "elcome to the website of the|";
    }
    66% {
        content: "elcome to the website of the Fac|";
    }
    70% {
        content: "elcome to the website of the Facult|";
    }
    76% {
        content: "elcome to the website of the Faculty|";
    }
    80% {
        content: "elcome to the website of the  Faculty of |";
    }
    86% {
        content: "elcome to the website of the Faculty of the|";
    }
    90% {
        content: "elcome to the website of the Faculty of Sci|";
    }
    93% {
        content: "elcome to the website of the Faculty of Science|";
    }
    100% {
        content: "elcome to the website of the Faculty of Science|";
    }
}









.card {

    box-shadow: 10px 10px 20px rgb(118, 118, 172) !important;
    border-radius: 0% 0% 8px 8px;
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, .1);

}


img {
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.title {
    text-align: center;
    color: rgb(53, 53, 128);
    text-shadow: 10px 10px 5px rgb(118, 118, 172);

}

.title h2 {
    font-weight: bold;
}