.student{
    background-color: rgb(255, 255, 255);
}
.table tbody td{
    color:rgb(0, 0, 0);
    font-size: 33px;
}
thead td{
    color: rgb(28, 28, 187);
    font-size: 34px;
    font-weight: bold;
}
