<div class="home">
    <div class="container">
        <div class="d-flex justify-content-between m-5">
            <img src="../../assets/img/شعار_جامعة_بني_سويف.png" alt="">
           <b class="fs-4 text-center"> Welcome <i class="fs-4">{{student.userName}}</i> to the website of the College of Science</b>
            <div class="image"><img src="../../assets/img/images.jpg" alt=""></div>
         </div>
    
        <div class="student">
            <h3 class="fs-1">Name : <i class="fs-2" >{{student.userName}}</i></h3>
            <h3 class="fs-1">level : <i class="fs-2">{{student.level}}</i></h3>
            <h3 class="fs-1">DepartmentName : <i class="fs-2">{{student.DepartmentName}}</i></h3>
            <h3 class="fs-1">NationalID : <i class="fs-2">{{student.NationalID}}</i></h3>
        </div>
    </div>
</div>
